/* Блок Преимущества */

.advantages {
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__title {
  color: $black-two;
  font-family: "Oswald";
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.advantages__list {

  padding: 0;
  width: 273px;
}

.advantages__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

.advantages__item--leaf {
  width: 60px;
  height: 60px;
  background-color: $green-btn;
  text-align: center;
}

.advantages__item--leaf-image {
  padding-top: 7px;
}

.advantages__item--powder {
  width: 60px;
  height: 60px;
  background-color: $green-btn;
  text-align: center;
}

.advantages__item--powder-image {
  padding-top: 7px;
}

.advantages__item--dining {
  width: 60px;
  height: 60px;
  background-color: $green-btn;
  text-align: center;
}

.advantages__item--dining-image {
  padding-top: 7px;
}

.advantages__item--result {
  width: 60px;
  height: 60px;
  background-color: $green-btn;
  text-align: center;
}

.advantages__item--clock-image {
  padding-top: 7px;
}

.advantages__description {
  width: 194px;
  color: $input-act;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

