/*Ответ*/

.answer__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  border: 1px solid $border-clr;
}

.answer-text {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: $black-three;

  &:focus  {
    color: rgba(34, 34, 34, 0.3);
  }

  &:active  {
    color: rgba(34, 34, 34, 0.3);
  }
}

.answer-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.answer-list__item {
  padding-bottom: 24px;
}

.answer-list__item label {
  position: relative;
  padding-left: 45px;
}

.answer-list__item input + label::before {
  content: "";
  position: absolute;
  left: -2px;
  top: calc(50% - (32px / 2));
  width: 30px;
  height: 30px;
  border: 1px solid $input-bg;
  border-radius: 50%;
  cursor: pointer;
}

.answer-list__item input:hover + label::before {
  border: 1px solid $radio-hvr;
}

.answer-list__item input:focus + label::before {
  opacity: 0.3;
}

.answer-list__item input:active + label::before {
  opacity: 0.3;
}

.answer-list__item input + label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: calc(50% - (14px / 2));
  width: 12px;
  height: 12px;
  border: 1px solid $green-btn;
  background-color: $green-btn;
  border-radius: 50%;
  opacity: 0;
}

.answer-list__item input[type="radio"]:focus + label::after {
  opacity: 0.3;
}

.answer-list__item input[type="radio"]:active + label::after {
  opacity: 0.3;
}


.answer-list__item input:checked + label::after {
  opacity: 1;
}

@media screen and (min-width: $tablet-width) {

  .answer__wrapper {
    padding-left: 35px;
    padding-top: 34px;
    margin-right: 37px;
  }

  .answer-text {
    font-size: 20px;
    line-height: 20px;
  }

  .answer-list__item label {
    padding-left: 52px;
  }

  .answer-list__item input + label::before {
    left: -8px;
    top: calc(50% - (41px / 2));
    width: 40px;
    height: 40px;
  }

  .answer-list__item input + label::after {
    left: 3px;
    top: calc(50% - (18px / 2));
    width: 18px;
    height: 18px;
  }

  .answer-list__item {
    padding-bottom: 31px;
  }

}

@media screen and (min-width: $desktop-width) {

  .answer__wrapper {
    padding-top: 37px;
  }

  .answer-list__item label {
    padding-left: 52px;
  }

  .answer-list__item input + label::before {
    left: -10px;
    top: calc(50% - (42px / 2));
  }

  .answer-list__item input + label::after {
    left: 1px;
    top: calc(50% - (20px / 2));
  }

}