/* Кнопки */
.button {
  width: 280px;
  height: 40;
  display: block;
  border: none;
  color: #ffffff;
  font-family: "Oswald";
  font-weight: 400;
  text-transform: uppercase;
}

.button__green {
  background-color: $green-btn;
  font-size: 14px;
  line-height: 18px;
}

.button__green-catalog {
  background-color: $green-btn;
  font-size: 16px;
  line-height: 20px;
}

.button__grey-button {
  background-color: $grey-btn;
}
