/* Каталог */

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: $black-two;
  margin: 0;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 28px;
  border-top: 1px solid $layer-1;
  border-bottom: 1px solid $layer-1;
}

.catalog__list {
  padding: 0;
  margin: 0;
}

.catalog__item {
  list-style: none;
  border-bottom: 1px solid $border-clr;
}

.catalog__item-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 23px;
}

.catalog__item-chicken-small-mobile,
.catalog__item-chicken-big-mobile,
.catalog__item-fish-small-mobile,
.catalog__item-fish-big-mobile,
.catalog__item-buckwheat-small-mobile,
.catalog__item-buckwheat-big-mobile,
.catalog__item-rice-small-mobile {
  height: 142px;
}

.catalog__item--plus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog__item-plus-mobile {
  width: 30px;
  opacity: 0.2;
  padding-top: 27px;
  padding-bottom: 19px;
}

.catalog__item--plus-image {
  width: 220px;
  text-align: center;
}

.catalog__item-title {
  width: 74px;
  margin-top: 22px;
  margin-bottom: 11px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  color: $black-two;
}

.catalog__item-plus-title {
  width: 100%;
  margin: 0;
  padding-bottom: 8px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black-two;
}

.catalog__item-plus-text {
  width: 100%;
  padding-bottom: 21px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $input-act;
}

.catalog__table {
  width: 142px;
  border-collapse: collapse;
}

.catalog__field {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-align: left;
  color: $input-act;
}

.catalog__value {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-align: right;
  color: $input-act;
}

@media screen and (min-width: $tablet-width) {
  .catalog__title {
    border: none;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding-left: 0;
    padding-top: 56px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    width: 324px;
    padding-top: 137px;
    padding-bottom: 3px;
    border: 0;
  }

  .catalog__item-all {
    position: relative;
    display: flex;
    justify-content: center;
    height: 267px;
    background-color: $grey-btn;
    padding: 164px 0 0;
  }

  .catalog__item-chicken-small-mobile,
  .catalog__item-chicken-big-mobile,
  .catalog__item-fish-small-mobile,
  .catalog__item-fish-big-mobile,
  .catalog__item-buckwheat-small-mobile,
  .catalog__item-buckwheat-big-mobile,
  .catalog__item-rice-small-mobile {
    height: auto;
  }

  .catalog__item-title {
    width: 130px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0;
  }

  .catalog__item-image {
    position: absolute;
    top: -46px;
    left: 0;
  }

  .catalog__item-image-big {
    top: -82px;
    left: 0;
  }

  .catalog__item-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 159px;
    width: 253px;
  }

  .catalog__table-border {
    border-bottom: 1px solid $input-bg;
  }

  .catalog__field {
    font-family: "Arial", "Tahoma", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: $input-act;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 0;
    padding-right: 11px;
  }

  .catalog__value {
    font-family: "Arial", "Tahoma", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    color: $input-act;
  }

  .catalog__table {
    width: 100%;
    margin-top: 17px;
  }

  .catalog__item--plus {
    height: 431px;
    border: 1px solid $input-bg;
  }

  .catalog__item-plus-all {
    width: 324px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .catalog__item--plus-image {
    width: 60px;
    height: 60px;
    padding-top: 55px;
  }

  .catalog__item-plus-title {
    width: 156px;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 0;
  }

  .catalog__item-plus-text {
    width: 167px;
    font-size: 16px;
    line-height: auto;
    margin-top: 29px;
    padding: 0;
  }
}

@media screen and (min-width: $desktop-width) {
  .catalog__title {
    padding-top: 40px;
    padding-left: 40px;
  }

  .catalog__list {
    width: 1220px;
    padding-left: 40px;
  }

  .catalog__item {
    width: 245px;
    padding-bottom: 7px;
  }

  .catalog__item-all {
    padding-top: 163px;
  }

  .catalog__item-table {
    width: 169px;
  }
}
