/* Блок Категории */

.categories {
  display: flex;
  flex: wrap;
  justify-content: center;
  background-color: $bg-white;
  margin-top: 22px;
}

.categories__list {
  width: 280px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories__item {
  display: flex;
  flex-wrap: wrap;
  min-width: 260px;
  min-height: 266px;
  padding-left: 22px;
  background-color: $grey-btn;
}

.categories__example {
  width: 138px;
}

.categories__title {
  color: $black-two;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;
  text-transform: uppercase;
  color: $black-two;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 24px;
}

.categories__description--slim,
.categories__description--pro {
  width: 233px;
  color: $input-act;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 5px;
  padding-bottom: 22px;
  margin-left: -71px;
}

.categories__catalog {
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $layer-1;
  padding-top: 20px;
  margin-left: -71px;
}

.categories__catalog-slim {
  padding-right: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $black-two;
}

.categories__catalog-pro {
  padding-right: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $black-two;
}

.categories__item--cat {
  margin-bottom: 20px;
}

.categories__item--cat-image {
  position: relative;
  width: 50px;
  height: 51px;
  background-color: $green-btn;
  border-radius: 50%;
  text-align: center;
  margin-top: 24px;
  margin-right: 20px;
}

.categories__item--cat-icon {
  width: 35px;
  height: 49px;
}

.categories__item--puma-image {
  position: relative;
  width: 50px;
  height: 51px;
  background-color: $green-btn;
  border-radius: 50%;
  text-align: center;
  margin-top: 22px;
  margin-right: 20px;
}

.categories__item--puma-icon {
  width: 67px;
  height: 28px;
  padding-top: 13px;
  margin-left: -8px;
}

.categories__right-arrow-long {
  width: 25px;
  height: 12px;

  &:hover {
    width: 34px;
  }

  &:active {
    width: 34px;
    opacity: 0.3;
  }
}

@media screen and (min-width: $tablet-width) {
  .categories {
    display: flex;
    flex: wrap;
    justify-content: center;
    background-color: $bg-white;
    margin: 0;
  }

  .categories__list {
    width: 708px;
  }

  .categories__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding-left: 0;
    background-color: $grey-btn;
  }

  .categories__item--cat {
    margin-bottom: 29px;
  }

  .categories__item--cat-image {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 92px;
    margin-left: 23px;
    margin-right: 62px;
  }

  .categories__item--cat-icon {
    width: 141px;
    height: 194px;
    position: absolute;
    top: -12px;
    right: 29px;
  }

  .categories__item--puma-image {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    margin-top: 91px;
    margin-left: 25px;
    margin-right: 60px;
  }

  .categories__item--puma-icon {
    width: 268px;
    height: 113px;
    padding-top: 44px;
    margin-left: -36px;
  }

  .categories__example {
    width: 371px;
    margin-top: 0;
  }

  .categories__title {
    font-size: 36px;
    text-align: left;
    color: $black-two;
    padding-top: 76px;
    padding-bottom: 21px;
    margin-top: 0;
    margin-left: 0;
  }

  .categories__description--slim {
    width: 372px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    padding-bottom: 0;
  }

  .categories__description--pro {
    width: 344px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    padding-bottom: 0;
  }

  .categories__catalog {
    width: 240px;
    border: none;
    padding-top: 56px;
    padding-bottom: 62px;
    margin-left: 1px;
  }

  .categories__catalog-slim {
    padding-right: 24px;
    font-size: 20px;
    line-height: 20px;

    &:focus {
      color: rgba(17, 17, 17, 0.3);
    }

    &:active {
      color: rgba(17, 17, 17, 0.3);
    }
  }

  .categories__catalog-pro {
    padding-right: 23px;
    font-size: 20px;
    line-height: 20px;

    &:focus {
      color: rgba(17, 17, 17, 0.3);
    }

    &:active {
      color: rgba(17, 17, 17, 0.3);
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .categories {
    margin-top: 82px;
    margin-bottom: 28px;
  }

  .categories__list {
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories__item {
    width: 570px;
    flex-direction: row;
    padding-left: 0;
  }

  .categories__item--cat {
    margin-bottom: 0;
  }

  .categories__item--cat-image {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 47px;
    margin-right: 20px;
    margin-left: 53px;
  }

  .categories__item--cat-icon {
    width: 71px;
    height: 97px;
    top: -3px;
    right: 17px;
  }

  .categories__item--puma-image {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 47px;
    margin-right: 20px;
    margin-left: 53px;
  }

  .categories__item--puma-icon {
    width: 134px;
    height: 57px;
    padding-top: 24px;
    margin-left: -19px;
  }

  .categories__title {
    padding-left: 41px;
  }

  .categories__description--slim,
  .categories__description--pro {
    width: 462px;
    padding-top: 54px;
    margin-left: -121px;
  }

  .categories__catalog {
    padding-top: 32px;
    padding-bottom: 62px;
    margin-left: 0;
  }

  .categories__catalog-slim,
  .categories__catalog-pro {
    margin-left: -120px;
  }
}
