/* Блок Категории */

.categories {
  display: flex;
  flex: wrap;
  justify-content: center;
  background-color: $bg-white;
  margin-top: 22px;
}

.categories__list {
  width: 280px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories__item {
  display: flex;
  flex-wrap: wrap;
  min-width: 260px;
  min-height: 266px;
  padding-left: 20px;
  background-color: $grey-btn;
}

.categories__title {
  color: $black-two;
  font-family: "Oswald";
  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;
  text-transform: uppercase;
  color: $black-two;
  padding-top: 30px;
  margin: 0;
}

.categories__description {
  width: 233px;
  color: $input-act;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 5px;
}

.categories__catalog {
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $layer-1;
  padding-top: 20px;
}

.categories__catalog-slim {
  padding-right: 10px;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $black-two;
}

.categories__catalog-pro {
  padding-right: 14px;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $black-two;
}

.categories__item--cat {
  margin-bottom: 20px;
}

.categories__item--cat-image {
  position: relative;
  width: 50px;
  height: 51px;
  background-color: $green-btn;
  border-radius: 50%;
  text-align: center;
  margin-top: 22px;
  margin-right: 20px;
}

.categories__item--cat-image::after{
  content: url("../img/icon-cat-slim.svg");
  position: absolute;
  top: 25%;
  left: -9px;
  width: 35px;
  height: 49px;
}


.categories__item--puma-image {
  position: relative;
  width: 50px;
  height: 51px;
  background-color: $green-btn;
  border-radius: 50%;
  text-align: center;
  margin-top: 22px;
  margin-right: 20px;
}

.categories__item--puma-image::after{
  content: url("../img/icon-cat-pro.svg");
  position: absolute;
  top: 25%;
  left: -9px;
  width: 67px;
  height: 28px;
}


