/*   Выпадающее меню */
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: $tablet-width) {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
   padding-right: 30px;
  }
  @media screen and (min-width: $desktop-width)  {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
  }
}

