/* Блок Копирайт */

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 28px;
  padding-top: 20px;
}

.copyright__link {
  color: $input-act;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 12px;
}

.copyright__logo-htmlacademy {
  width: 42px;
  height: auto;
  margin-right: -8px;
  fill: $soc-btn;

  &:hover {
    fill: $green-btn;
  }

  &:focus {
    fill-opacity: 0.3;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

@media screen and (min-width: $tablet-width) {

  .copyright {
    padding: 0;
    justify-content: flex-end;
  }

  .copyright__logo-htmlacademy {
    padding-left: 15px;
    padding-right: 30px;
  }

  .copyright__link {
    padding-top: 11px;

    &:hover {
      color: $input-act;
    }

    &:focus {
      color:$dark-brown;
    }

    &:active {
     color: $dark-brown;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__logo-htmlacademy {
    padding-right: 0;
  }
}
