/* Дополнительные товары */

.extra {
  padding-left: 20px;
  padding-right: 20px;
}

.extra__title {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: $black-two;
}

.extra__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.extra__list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.extra__item {
  border-top: 1px solid $layer-1;

  &:last-child {
    border-bottom: 1px solid $layer-1;
  }
}

.extra__item--title {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: $black-three;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 15px;
}

.extra__item--texts {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.extra__item--text {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color:  $input-act;
}

.extra__gift {
  list-style: none;
  padding: 0;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  width: 280px;
  height: 289px;
}

.extra__item--gift {
  padding-top: 65px;
  padding-left: 113px;
  padding-bottom: 64px;
  fill: $bg-white;
  width: 56px;
  height: 61px;
}

.extra__item--text-gift {
  width: 159px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $bg-white;
  padding-left: 60px;
}

@media screen and (min-width: $tablet-width) {

  .extra {
    padding: 0;
    margin-top: 62px;
  }

  .extra__wrapper {
    margin-bottom: 76px;
  }

  .extra__title {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding-bottom: 82px;
    padding-left: 37px;

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: -30px;
      width: 28px;
      height: 3px;
      background-color: $green-btn;
    }

    &::after {
      content: "";
      position: absolute;
      top: 22px;
      right: -29px;
      width: 327px;
      height: 3px;
      background-color: $green-btn;
    }
  }

  .extra__list {
    margin: 0;
    margin-bottom: 69px;
  }

  .extra__item {
    padding-left: 37px;
    padding-right: 37px;
    margin-top: -1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid $layer-1;
    border-collapse: collapse;
  }

  .extra__item--title {
    padding-top: 25px;
    width: 353px;
    font-size: 20px;
    line-height: 20px;
  }

  .extra__item--texts {
    padding-top: 29px;
    padding-bottom: 7px;
  }

  .extra__item--text {
    padding-left: 52px;
    font-size: 16px;
    line-height: 20px;
  }

  .extra__gift {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 708px;
    height: 200px;
    margin: 0;
  }

  .extra__item-gift {
    display: flex;
    justify-content: space-between;
  }

  .extra__item--gift {
    padding-left: 90px;
  }

  .extra__item--text-gift {
    width: 160px;
    text-align: left;
    padding-left: 0;
    margin: 0;
    padding-top: 72px;
    padding-right: 126px;
  }
}

@media screen and (min-width: $desktop-width) {

  .extra {
    margin-top: 66px;
  }

  .extra__wrapper {
    margin-bottom: 0;
  }

  .extra__title {
    padding-left: 0;
    padding-bottom: 82px;

    &::before {
      left: -107px;
      width: 69px;
    }

    &::after {
      right: -106px;
      width: 952px;
    }
  }

  .extra__wrapper {
    justify-content: space-between;
  }

  .extra__list {
    width: 895px;
    margin-bottom: 84px;
  }

  .extra__item {
    padding: 0;
    border: none;
    border-top: 1px solid $layer-1;


    &:last-child {
      border-bottom: 1px solid $layer-1;
    }
  }

  .extra__item--title {
    padding-top: 25px;
    padding-right: 54px;
    width: 180px;
  }

  .extra__item--texts {
    padding-top: 29px;
    padding-bottom: 23px;
    width: 334px;
  }

  .extra__item--text {
    padding-left: 52px;
  }

  .extra__gift {
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat;
    width: 245px;
    height: 289px;
  }

  .extra__item-gift {
    flex-wrap: wrap;
  }

  .extra__item--gift {
    padding-top: 63px;
    padding-left: 96px;
    padding-bottom: 61px;
  }

  .extra__item--text-gift {
    padding-top: 0;
    padding-right: 0;
    padding-left: 43px;
    text-align: center;
  }
}
