/* Блок Функциональное питание для котов */

.first-screen {
  background-color: $bg-white;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  width: 320px;
  height: auto;
  text-align: center;
}

.first-screen__index-can-tablet,
.first-screen__index-can-desktop {
  display: none;
}

.first-screen__bg-mobile {
  width: auto;
  padding-bottom: 136px;
}

.first-screen__functional {
  color: $bg-white;
  font-family: "Oswald";
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding-top: 29px;
  padding-bottom: 19px;

}

.first-screen__cat-can {
  color: $bg-white;
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 29px;
}
