/* Блок Футер */
.footer {
  background-color: $grey-btn;
  padding: 0 20px;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer__social {
  display: flex;
  justify-content: center;
  padding: 0;
  border-bottom: 1px solid $layer-1;
}

.footer__logotype {
  display: flex;
  justify-content: center;
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid $layer-1;

  img {
    width: 128px;
    height: 24px;
  }
}

@media screen and (min-width: $tablet-width) {

  .footer {
    max-width: 768px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 52px 30px 60px;
  }

  .footer__logotype {
    width: 33%;
    padding: 0;
    border: none;
    justify-content: left;
    align-items: center;
  }

  .footer__social {
    width: 33%;
    padding: 0;
    border: none;
    align-items: center;
  }

  .footer__copyright {
    width: 33%;
    padding: 0;
  }
}

@media screen and (min-width: $desktop-width) {

  .footer {
    max-width: 1440px;
    padding: 0 110px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__logotype {

  }

  .footer__copyright {

  }

  }

