/* Блок Футер */
.footer {
  background-color: $grey-btn;
  padding: 0 20px;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer__social {
  display: flex;
  padding: 0;
  border-bottom: 1px solid $layer-1;
  padding-left: 74px;
  padding-top: 2px;
}

.footer__logotype {

  display: flex;
  justify-content: center;
  padding-top: 37px;
  padding-bottom: 28px;
  border-bottom: 1px solid $layer-1;
}

.footer__logo {
  width: 128px;
  height: 24px;
  fill: $black-two;

  &:hover {
    fill-opacity: 0.8;
  }

  &:focus {
    fill-opacity: 0.6;
  }

  &:active {
    fill-opacity: 0.6;
  }
}

@media screen and (min-width: $tablet-width) {

  .footer {
    padding: 0;
  }

  .footer__wrapper {
    max-width: 768px;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px 30px 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__logotype {
    width: 33%;
    padding: 0;
    border: none;
    justify-content: left;
    align-items: center;
  }

  .footer__logotype a {
    padding-left: 33px;
  }

  .footer__social {
    display: flex;
    justify-content: center;
    width: 33%;
    padding: 0;
    border: none;
  }

  .footer__copyright {
    width: 33%;
    padding: 0;
  }
}

@media screen and (min-width: $desktop-width) {

  .footer {
    padding: 0 110px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding-top: 54px;
  }

  .footer__logotype a {
    padding-left: 0;
  }
}
