/*Контакты владельца*/

.form-contact {
  padding-left: 20px;
  padding-right: 20px;
}

.form-contact__title {
  position: relative;
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: $black-two;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 31px;
  background-color: $bg-white;
  display: inline-flex;
}

.form-contact__title--data {
  width: 202px;

  &::before {
    position: absolute;
    content: "";
    top: 43px;
    height: 3px;
    width: 100vw;
    background-color: $green-btn;
    z-index: -1;
  }
}

.form-contact__title--comment {
  width: 143px;
  padding-bottom: 35px;

  &::before {
    position: absolute;
    content: "";
    top: 43px;
    height: 3px;
    width: 100vw;
    background-color: $green-btn;
    z-index: -1;
  }
}

.form-contact__title--more {
  width: 164px;
  padding-top: 25px;
  padding-bottom: 41px;

  &::before {
    position: absolute;
    content: "";
    top: 38px;
    height: 3px;
    width: 100vw;
    background-color: $green-btn;
    z-index: -1;
  }
}

.form-contact__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.form-contact__item {
  display: flex;
  align-items: center;

  &:first-child {
    padding-bottom: 12px;
  }
}

.form-contact__label {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: $black-three;
  padding-right: 10px;
  white-space: nowrap;
}

.form-contact__input-text {
  width: 100%;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: $input-act;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid hsla(0, 0%, 80%, 0.5);

  &:hover {
    border: 1px solid hsla(0, 0%, 80%, 1);
  }

  &:active {
    box-shadow: 0 0 0 1px $input-act;
  }

  &:focus {
    box-shadow: 0 0 0 1px $input-act;
  }

  &:invalid {
    border: 1px solid $input-inv;
    box-shadow: 0 0 0 1px $input-inv;
  }
}

.form-contact__item input[type="text"] {
  opacity: 0.5;
}


@media screen and (min-width: $tablet-width) {

  .form-contact__title {
    font-size: 36px;
    line-height: 36px;

    &::after {
      content: "";
      position: absolute;
      top: 21px;
      left: 110px;
      height: 3px;
      width: 119px;
      background-color: $green-btn;
    }
  }

  .form-contact__title--data {
    padding-top: 76px;
    padding-bottom: 70px;
    padding-left: 20px;
    width: 553px;

    &::before {
      top: 98px;
    }

    &::after {
      top: 98px;
      left: -50px;
      width: 30px;
    }
  }

  .form-contact__title--comment {
    padding-top: 62px;
    width: 219px;
    padding-bottom: 75px;

    &::before {
      top: 83px;
    }

    &::after {
      top: 83px;
      left: -70px;
      width: 30px;
    }
  }

  .form-contact__title--more {
    width: 252px;
    padding-top: 24px;
    padding-bottom: 67px;

    &::before {
      top: 45px;
    }

    &::after {
      top: 45px;
      left: -70px;
      width: 30px;
    }
  }

  .form-contact__list {
    padding-left: 20px;
    padding-right: 16px;
  }
  .form-contact__item:first-child {
    padding-top: 4px;
  }

  .form-contact__label {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: $black-three;
    margin-top: -7px;
    padding-right: 18px;
  }

  .form-contact__input-text {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-top: 13px;
  }

}

@media screen and (min-width: $desktop-width) {

  .form-contact{
    padding: 0;
  }

  .form-contact__title {
    padding-bottom: 69px;
    padding-top: 0;
  }

  .form-contact__title--data {
    padding-top: 0;
    padding-left: 0;

    &::before {
    top: 21px;
    left: -110px;
    height: 3px;
    width: 70px;
    }

    &::after {
      top: 21px;
      left: 553px;
      height: 3px;
      width: 100vw;
    }
  }

  .form-contact__title--comment {

  }

  .form-contact__list {
    display: flex;
    padding-bottom: 29px;
    padding-left: 0;
  }

  .form-contact__item {
    width: 50%;
  }

}
