/*Контакты владельца*/

.form-contact {
  padding-left: 20px;
  padding-right: 20px;
}

.form-contact__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.form-contact__item {
  position: relative;
  display: flex;
  align-items: center;

  &:first-child {
    padding-bottom: 12px;
  }
}

.form-contact__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: $black-three;
  padding-right: 10px;
  white-space: nowrap;
}

.form-contact__input-text {
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: $input-act;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid hsla(0, 0%, 80%, 0.5);

  &:hover {
    border: 1px solid hsla(0, 0%, 80%, 1);
  }

  &:active {
    box-shadow: 0 0 0 1px $input-act;
  }

  &:focus {
    box-shadow: 0 0 0 1px $input-act;
  }

  &:invalid {
    border: 1px solid $input-inv;
    box-shadow: 0 0 0 1px $input-inv;
  }
}

.form-contact__item input[type="text"] {
  opacity: 0.5;
}

.form-contact__input-text--email {
  position: absolute;
  top: 19px;
  right: 15px;
  width: 18px;
  fill: $black-three;

  &:hover {
    fill: $black-three;
  }

  &:active {
    fill: $green-btn;
  }

  &:invalid {
    fill: $input-inv;
  }
}

.form-contact__input-text--tel {
  position: absolute;
  top: 17px;
  right: 14px;
  width: 18px;
  fill: $black-three;

  &:hover {
    fill: $black-three;
  }

  &:active {
    fill: $green-btn;
  }

  &:invalid {
    fill: $input-inv;
  }
}

@media screen and (min-width: $tablet-width) {

  .form-contact__list {
    padding-left: 20px;
    padding-right: 16px;
  }

  .form-contact__item:first-child {
    padding-top: 6px;
    padding-bottom: 20px;
  }

  .form-contact__label {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: $black-three;
    margin-top: -7px;
    padding-right: 20px;
  }

  .form-contact__input-text {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .form-contact__input-text--email {
    top: 27px;
    right: 19px;
  }

  .form-contact__input-text--tel {
    position: absolute;
    top: 19px;
    right: 17px;
  }
}

@media screen and (min-width: $desktop-width) {

  .form-contact{
    padding: 0;
    padding-left: 42px;
  }

  .form-contact__list {
    display: flex;
    padding-bottom: 48px;
    padding-left: 0;
  }

  .form-contact__item {
    width: calc(50% - 53px);
  }

  .form-contact__item:first-child {
    margin-right: 80px;
    padding-bottom: 0;
  }

  .form-contact__input-text {
    padding-left: 20px;
  }

  .form-contact__input-text--email {
    top: 25px;
    right: 19px;
  }

  .form-contact__input-text--tel {
    position: absolute;
    top: 24px;
    right: 18px;
  }
}
