/* Шапка */

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__wrapper {
  padding-top: 11px;
}

.page-header__logo {
  width: 191px;
  height: 39px;
}

.page-header__logo-image--mobile {
  padding-bottom: 13px;
  padding-left: 20px;
}

.page-header__logo-image--tablet {
  display: none;
}

.page-header__logo-image--desktop {
  display: none;
}


