/*  Меню навигации */
.main-menu {
  position: relative;
  margin: 0 auto;
}

.main-menu__toggle {
  position: absolute;
  top: -24px;
  right: 0;
  z-index: 2;
  display: block;
  width: 25px;
  height: 19px;
  padding: 0;
  border: none;
  background-color: $bg-white;
  cursor: pointer;
}

.main-menu--closed .main-menu__toggle::after {
  content: "";
  position: absolute;
  top: -18px;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: $black-three;
  box-shadow: 0 8px 0 0 $black-three, 0 16px 0 0 $black-three;
}

.main-menu--opened .main-menu__toggle {
  top: -19px;
  right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -12px;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: $black-three;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: $mobile-width-only) {
  .main-menu--closed .site-list__item {
    display: none;
  }

  .main-menu--opened .main-menu__wrapper {
    z-index: 10;
    min-height: 20vh;
    background-color: $bg-white;
  }

  .main-menu--nojs .main-menu__toggle {
    display: none;
  }

  .main-menu--nojs .main-menu__wrapper {
    position: static;
    min-height: 0;
  }

  .main-menu--nojs .site-list__item {
    display: block;
  }
}

@media screen and (min-width: $tablet-width) {

  .main-menu {
    width: 439px;
    margin: 0;
  }

  .main-menu__wrapper {
    margin: 0;
  }

  .main-menu__list {
    justify-content: space-between;
    margin-top: -5px;
  }

  .main-menu__toggle {
    display: none;
  }

}

@media screen and (min-width: $desktop-width) {

  .main-menu {
    width: 477px;
    z-index: 5;
  }

  .main-menu__wrapper {
    display: flex;
    justify-content: space-between;
    width: 477px;
    margin: 0;
  }
}
