/*Дополнительно*/

.more__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.more__item {
  padding-bottom: 23px;
}

.more__item label {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 46px;
  user-select: none;
}

.more__checkbox:active + label {
  opacity: 0.3;
}

.more__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: $black-three;
  text-transform: uppercase;
}

.more__checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  width: 28px;
  height: 29px;
  border: 1px solid $input-bg;
  margin-right: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.more__checkbox:hover + label::before {
  border: 1px solid $radio-hvr;
}

.more__checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: calc(50% - (17px / 2));
  width: 22px;
  height: 17px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.more__text {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  text-align: center;
  color: $input-act;
  padding-top: 18px;
}

.more__bottom {
  text-align: center;
  padding-top: 16px;
}

@media screen and (min-width: $tablet-width) {
  .more__checkbox + label {
    font-size: 20px;
    line-height: 20px;
  }

  .more__checkbox + label::before {
    left: 0;
    width: 39px;
    height: 38px;
    margin-right: 14px;
  }

  .more__checkbox:checked + label::after {
    left: 9px;
  }

  .more__box {
    display: flex;
    flex-wrap: wrap;
  }

  .more__list {
    display: flex;
  }

  .more__item {
    padding-bottom: 49px;
  }

  .more__item--sugar {
    padding-right: 125px;
  }

  .more__item--milk {
    padding-right: 219px;
  }

  .more__item label {
    padding-left: 58px;
  }

  .more__bottom {
    display: flex;
    text-align: left;
    padding-top: 13px;
  }

  .more__text {
    font-family: "Arial", "Tahoma", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-top: 12px;
  }
}

@media screen and (min-width: $desktop-width) {
  .more {
    padding-bottom: 81px;
  }

  .more__box {
    display: flex;
    width: 1220px;
    padding-bottom: 7px;
  }

  .more__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 512px;

    &:first-child {
      padding-right: 138px;
      padding-left: 40px;
    }
  }

  .more__item:nth-child(2n) {
    padding-left: 30px;
  }

  .more__item--sugar {
    padding-right: 75px;
  }

  .more__item--milk {
    padding-right: 0;
  }

  .more__item--vitamins {
    padding-right: 39px;
  }

  .more__item label {
    padding-left: 59px;
  }

  .more__bottom {
    display: flex;
    margin-left: 41px;
  }

  .more__text {
    font-family: "Arial", "Tahoma", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-top: 12px;
  }
}
