/* Шапка */

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__wrapper {
  padding-top: 12px;
  margin: 0 auto;
  width: 320px;
}

.page-header__logo {
  width: 191px;
  height: 39px;
  padding-left: 20px;
}

.page-header__logo-image--mobile {
  padding-bottom: 13px;
  padding-left: 0;
  width: 191px;
  height: 39px;
}



@media screen and (min-width: $tablet-width) {

  .page-header {
    max-width: 708px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-header__wrapper {
    width: 708px;
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .page-header__logo {
    width: 174px;
    height: 59px;
    padding-left: 0px;
  }

  .page-header__logo-image--mobile {
    padding-left: 0;
    width: 174px;
    height: 59px;
  }
}

@media screen and (min-width: $desktop-width) {

  .page-header {
    max-width: 1220px;
    margin: 0 auto;
    padding-bottom: 34px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .page-header__wrapper {
    width: 1220px;
    padding-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-header__logo {
    width: 203px;
    height: 60px;
    z-index: 3;
  }

  .page-header__logo-image--mobile {
    padding-left: 0;
    width: 203px;
    height: 60px;
  }
}
