/* Блок Футер */
.page-footer {
  background-color: $grey-btn;
  padding: 0 20px;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  padding: 0;
  border-bottom: 1px solid $layer-1;
}

.page-footer__logotype {
  display: flex;
  justify-content: center;
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid $layer-1;

  img {
    width: 128px;
    height: 24px;
  }
}
