/*Форма*/

.page-form__title {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: $black-two;
}

.page-form__comment {
  padding-left: 20px;
}

.page-form__more {
  padding-left: 20px;
}

@media screen and (min-width: $tablet-width) {

  .page-form__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media screen and (min-width: $desktop-width) {

}
