/* Блок Футер */
.page-footer {
  background-color: $grey-btn;
  padding: 0 20px;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  padding: 0;
  border-bottom: 1px solid $layer-1;
}

.page-footer__logotype {
  display: flex;
  justify-content: center;
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid $layer-1;

  img {
    width: 128px;
    height: 24px;
  }
}

@media screen and (min-width: $tablet-width) {

  .page-footer {
    max-width: 768px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__logotype {
    padding-top: 64px;
    padding-bottom: 62px;
  }
}

@media screen and (min-width: $desktop-width) {

  .page-footer {
    max-width: 1440px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .page-footer__logotype {
    padding-left: 110px;
  }

  .page-footer__copyright {
    padding-right: 110px;
  }

  }

