/*   Выпадающее меню */

.site-list a {
  display: block;
  padding-top: 24px;
  padding-right: 40px;
  padding-bottom: 20px;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $black-two;
  text-decoration: none;
}

.site-list__item {
  height: 65px;
  border-top: 1px solid $layer-1;
  width: 100%;
  padding-left: 31px;
}

.site-list__item a {
  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

}

@media screen and (min-width: $tablet-width) {

  .site-list__item {
    border: none;
    padding-left: 0;
    width: 154px;
  }

  .site-list__item--active {
    position: relative;
  }

  .site-list__item--first {
    width: 62px;
  }

  .site-list a {
    padding-right: 0;
    font-size: 18px;
    line-height: 24.86px;
    font-weight: 400;
  }

  .site-list__item--active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 55px;
    background-color: $green-btn;
  }
}

@media screen and (min-width: $desktop-width) {

  .site-list {
    width: 477px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    color: $bg-white;
  }

  .site-list__item {
    border: none;
    padding-left: 0;
    width: 171px;
  }

  .site-list__item--first {
    border: none;
    padding-left: 0;
    width: 73px;
  }

  .site-list a {
    font-size: 20px;
    line-height: 24.86px;
    color: $bg-white;
  }

  .site-list__item--black a {
    color: $black-two;
  }

  .site-list__item--active {
    position: relative;
  }

  .site-list__item--active::after {
    position: absolute;
    content: "";
    width: 68px;
    height: 2px;
    top: 58px;
    background-color: $bg-white;
  }

  .site-list a:hover {
    opacity: 0.6;
  }

  .site-list a:focus {
    opacity: 0.3;
  }


}
