/*Коты*/

.slider {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 326px;
  padding-bottom: 34px;
}

.slider__item--slim {
  display: none;
}

.slider__box {
  position: absolute;
  width: 319px;
  top: 35px;
  left: -19px;

}

@media screen and (min-width: $tablet-width) {
  .slider {
    height: 384px;
  }

  .slider__box {
    position: absolute;
    top: -169px;
    left: 11px;
    margin: 0 auto;
    width: 724px;
    display: flex;
  }

  .slider__item {
    width: 50%;
    height: 517px;
    overflow: hidden;
  }

  .slider__item--pro {
    width: 46.5%;
  }

  .slider__item--slim {
    display: block;
  }

  .slider__item-before-mobile {
    max-width: 683px;
    height: 517px;
  }

}

@media screen and (min-width: $desktop-width) {

  .slider__box {
    top: -191px;
    left: 53px;
  }

  .slider__item:nth-child(1) {
    background-size: 201% 100%;
    background-position: 6%;
    width: 59%;
  }

  .slider__item:nth-child(2) {
    background-image: url("../img/after-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 239% 100%;
    background-position: 91%;
  }

}
