/* Блок Социальные сети */

.social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 125px;
  padding-top: 20px;
  padding-bottom: 17px;
}

.social__link--vkontakte {
  width: 22px;
  height: 12px;
  fill: $soc-btn;

  &:hover {
    fill: $green-btn;
  }

  &:focus {
    fill: $green-btn;
    fill-opacity: 0.3;
  }

  &:active {
    fill: $green-btn;
    fill-opacity: 0.3;
  }
}

.social__link--instagram {
  width: 17px;
  height: 17px;
  fill: $soc-btn;

  &:hover {
    fill: $green-btn;
  }

  &:focus {
    fill: $green-btn;
    fill-opacity: 0.3;
  }

  &:active {
    fill: $green-btn;
    fill-opacity: 0.3;
  }
}

.social__link--facebook {
  width: 10px;
  height: 19px;
  fill: $soc-btn;

  &:hover {
    fill: $green-btn;
  }

  &:focus {
    fill: $green-btn;
    fill-opacity: 0.3;
  }

  &:active {
    fill: $green-btn;
    fill-opacity: 0.3;
  }
}

@media screen and (min-width: $tablet-width) {

  .social__list {
    padding: 0;
    align-items: center;
  }

  .social__link--vkontakte {
    width: 30px;
    height: 16px;
  }

  .social__link--instagram {
    width: 23px;
    height: 23px;
  }

  .social__link--facebook {
    width: 14px;
    height: 28px;
    padding-right: 9px;
  }
}
