/*Подбор программы*/

.survey {
  padding-left: 20px;
  padding-right: 20px;
}

.survey__text {
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  color: $black-two;
  padding-bottom: 18px;
  padding-left: 20px;
}

.survey__list {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.survey__item {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  padding-top: 1px;
}


.survey__item:nth-child(3) {
  padding-bottom: 4px;
}

.survey__label {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: $black-three;
  padding-right: 16px;
}

.survey__input-text {
  width: 100%;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: $input-act;
  padding-left: 13px;
  padding-top: 14px;
  padding-bottom: 13px;
  border: 1px solid hsla(0, 0%, 80%, 0.5);
  box-sizing: border-box;

  &:hover {
    border: 1px solid hsla(0, 0%, 80%, 1);
  }

  &:active {
    box-shadow: 0 0 0 1px $input-act;
  }

  &:focus {
    box-shadow: 0 0 0 1px $input-act;
  }

  &:invalid {
    border: 1px solid $input-inv;
    box-shadow: 0 0 0 1px $input-inv;
  }
}

@media screen and (min-width: $tablet-width) {

  .survey {
    padding: 0;
  }

  .survey__list {
    padding: 0;
    margin: 0;
    padding-right: 36px;
    padding-bottom: 66px;
  }

  .survey__item {
    padding-top: 3px;
    padding-bottom: 16px;
  }

  .survey__text {
    font-size: 20px;
    line-height: 30px;
    padding-left: 41px;
    padding-bottom: 61px;
  }

  .survey__label {
    font-size: 20px;
    line-height: 20px;
  }

  .survey__input-text {
    font-size: 20px;
    line-height: 20px;
    padding-right: 20px;
    padding-top: 11px;
    padding-left: 22px;
    padding-bottom: 11px;
  }
}

@media screen and (min-width: $desktop-width) {

  .survey {
    padding-right: 0;
    margin-right: 39px;
  }

  .survey__text {
    padding-bottom: 58px;
    padding-left: 0px;
  }

  .survey__list {
    padding-right: 40px;
  }
}
