/* Цвета */
 $bg-white: #ffffff;
 $green-btn: #68b738;
 $green-hover: #5eaa2f;
 $color-btn: #ffffff4c;
 $grey-btn: #f2f2f2;
 $grey-bckgr: #eaeaea;
 $grey-hover: #ebebeb;
 $input-bg: #cdcdcd;
 $border-clr: #ededed;
 $input-act: #444444;
 $input-error: #ff8282;
 $soc-btn: #666666;
 $black-two: #111111;
 $black-three: #222222;
 $layer-2: #d9d9d9;
 $layer-1: #e6e6e6;
 $toggle: #dcdcdc;
 $border-bottom: #969696;
 $dark-grey: #00000026;
 $dark-grey-hv: #00000040;
 $dark-grey-fc: #0000004c;
 $tablet-width: 768px;
 $desktop-width: 1300px;
 $mobile-width-only: 767px;
 $retina-dpi: 144dpi;
 $retina-dppx: 1.5dppx;


